In [4]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.neighbors import KNeighborsClassifier

pd.set_option('display.max_columns', 50)

/Users/williammccarthy/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/williammccarthy/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Users/williammccarthy/anaconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

Reading in train and test datasets, resetting the date as index

In [5]:
df = pd.read_csv('train_weather_per_station.csv')
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace = True)
df.head()

,Num_Duplicates,WnvPresent,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Cool,Sunrise,Sunset,PrecipTotal,ResultSpeed,ResultDir
Date,,,,,,,,,,,,,,,,,,,,,,,,
2007-05-29,1,0,2007,5,29,0,0,1,0,0,0,0,88,60,74,10,58,65,9,421,1917,0.0,5.8,18
2007-05-29,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,421,1917,0.0,5.8,18
2007-05-29,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,421,1917,0.0,5.8,18
2007-05-29,1,0,2007,5,29,0,0,1,0,0,0,0,88,60,74,10,58,65,9,421,1917,0.0,5.8,18
2007-05-29,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,421,1917,0.0,5.8,18

In [6]:
test = pd.read_csv('test_weather_per_station.csv')
test['Date'] = pd.to_datetime(test['Date'])
test.set_index('Date', inplace = True)
test.head()

,Num_Duplicates,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,UNSPECIFIED CULEX,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Cool,Sunrise,Sunset,PrecipTotal,ResultSpeed,ResultDir
Date,,,,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,2008,6,11,0,0,1,0,0,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,0,1,0,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,1,0,0,0,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,0,0,1,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,0,0,0,0,1,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18

In [5]:
print(f'Number of columns in the train set: {df.shape[1]}')
print(f'Number of columns in the test set: {test.shape[1]}')

Number of columns in the train set: 24
Number of columns in the test set: 24

Since there is a column of Unspecified Species in the test data that is not in the train data, I substitute that species in the test data with the most popular species.

In [6]:
# checking which is the most popular species 

test[['CULEX ERRATICUS','CULEX PIPIENS','CULEX PIPIENS/RESTUANS','CULEX RESTUANS','CULEX SALINARIUS',
     'CULEX TARSALIS','CULEX TERRITANS']].sum()

CULEX ERRATICUS           14345
CULEX PIPIENS             14521
CULEX PIPIENS/RESTUANS    15359
CULEX RESTUANS            14670
CULEX SALINARIUS          14355
CULEX TARSALIS            14347
CULEX TERRITANS           14351
dtype: int64

In [7]:
# assigning culex pipiens/restuans to the unspecified culex
for index, row in test.iterrows():
    if row['UNSPECIFIED CULEX'] == 1:
        test.loc[index,'CULEX PIPIENS/RESTUANS'] = 1

# check if the number of culex pipiens/restuans has actually increased
test['CULEX PIPIENS/RESTUANS'].sum()

116293

In [8]:
# droppig the unspecified culex
test.drop('UNSPECIFIED CULEX', axis = 1, inplace = True)
test.head()

,Num_Duplicates,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Cool,Sunrise,Sunset,PrecipTotal,ResultSpeed,ResultDir
Date,,,,,,,,,,,,,,,,,,,,,,,
2008-06-11,1,2008,6,11,0,0,1,0,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,1,1,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,1,1,0,0,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,1,0,1,0,0,86,61,74,7,56,64,9,416,1926,0.0,8.9,18
2008-06-11,1,2008,6,11,0,0,1,0,0,0,1,86,61,74,7,56,64,9,416,1926,0.0,8.9,18

In [9]:
df['PrecipitationTotal_rollingmean2'] = df['PrecipTotal'].rolling(4).mean().fillna(0)

# Defining X and y, and train/test split

In [10]:
features = [feat for feat in df.columns if feat != "WnvPresent"]

X = df[features]
y = df['WnvPresent']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

# KNN model

In [11]:
k = np.arange(3,30,2)
parameters = {'n_neighbors': k,
              'p': [1,2] }
knn = KNeighborsClassifier()
clf = GridSearchCV(knn,parameters,cv=10)
clf.fit(X_train, y_train)

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]), 'p': [1, 2]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [57]:
clf.best_params_

{'n_neighbors': 5, 'p': 1}

In [58]:
y_pred = clf.predict(X_test)
auc_knn = roc_auc_score(y_test, y_pred)
auc_knn

0.7976312485152882

# Logistic Regression model

In [59]:
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
auc_logreg = roc_auc_score(y_test, y_pred)
auc_logreg

0.6663284351986969

# Random Forest w/ Grid Search

In [19]:
params = {'n_estimators': [10,15,20],
          'max_depth': [40,50,60]}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)
rfcl.best_params_

{'max_depth': 50, 'n_estimators': 20}

In [20]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.8203719414938744

# --

In [60]:
params = {'n_estimators': [10,15,20],
          'max_depth': [40,50,60]}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)
rfcl.best_params_

{'max_depth': 50, 'n_estimators': 20}

In [61]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.8116650264137284

In [12]:
from sklearn.ensemble import AdaBoostClassifier, BaggingClassifier, ExtraTreesClassifier

In [12]:
ada = AdaBoostClassifier()
ada.fit(X_train, y_train)
y_pred = ada.predict(X_test)
auc_ada = roc_auc_score(y_test, y_pred)
auc_ada

0.748839945249488

In [13]:
bag = BaggingClassifier()
bag.fit(X_train, y_train)
y_pred = bag.predict(X_test)
auc_bag = roc_auc_score(y_test, y_pred)
auc_bag

0.8111288333842378

In [14]:
ext = ExtraTreesClassifier()
ext.fit(X_train, y_train)
y_pred = ext.predict(X_test)
auc_ext = roc_auc_score(y_test, y_pred)
auc_ext

0.8158844356964288

In [13]:
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegressionCV
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler

In [14]:
wnv_pres = df[df.WnvPresent==1]
train_bootstrapped = wnv_pres.sample(n=8000, replace=True)
train = pd.merge(df, train_bootstrapped, how="outer")

In [15]:
X = train[features]
y = train['WnvPresent']
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [16]:
ss = StandardScaler()
X_train_scaled = ss.fit_transform(X_train)
X_test_scaled = ss.transform(X_test)

In [18]:
models  = {'rf': [RandomForestClassifier(random_state = 1), {'n_estimators' : [7, 10, 20],
                                                'max_depth' : [20,30,40]}],
         'et': [ExtraTreesClassifier(random_state = 1), {'n_estimators' : [20, 30, 40],
                                                'max_depth' : [15, 20, 30]}],
         'bag': [BaggingClassifier(random_state = 1), {'n_estimators' : [5, 10, 15]}],
              'ada': [AdaBoostClassifier(random_state = 1), {'n_estimators' : [60,70,80]}],
              'knn': [KNeighborsClassifier(), {'n_neighbors': [3,5,7]}],
              'lg': [LogisticRegressionCV(random_state = 1), {'Cs': [1, 10, 15]}],
            }

In [21]:
for k, v in models.items():
    gs = GridSearchCV(v[0], v[1])
    gs.fit(X_train_scaled, y_train)
    y_pred = gs.predict(X_test_scaled)
    print(k, gs.best_params_, roc_auc_score(y_test, y_pred))

rf {'max_depth': 20, 'n_estimators': 20} 0.9351569368342199
et {'max_depth': 30, 'n_estimators': 20} 0.9361255934404706
bag {'n_estimators': 15} 0.9367563011089072
ada {'n_estimators': 80} 0.8775267411382435
knn {'n_neighbors': 3} 0.9293548126196499
lg {'Cs': 10} 0.8047890390779471

In [24]:
#retry rf, et, bag with new parameters
models2  = {'rf': [RandomForestClassifier(random_state = 1), {'n_estimators' : [20, 25, 30],
                                                'max_depth' : [15, 20]}],
         'et': [ExtraTreesClassifier(random_state = 1), {'n_estimators' : [15, 20],
                                                'max_depth' : [30, 35, 40]}],
         'bag': [BaggingClassifier(random_state = 1), {'n_estimators' : [15, 20, 25]}]
           }

for k, v in models2.items():
    gs = GridSearchCV(v[0], v[1])
    gs.fit(X_train_scaled, y_train)
    y_pred = gs.predict(X_test_scaled)
    print(k, gs.best_params_, roc_auc_score(y_test, y_pred))

rf {'max_depth': 20, 'n_estimators': 30} 0.9345615960977021
et {'max_depth': 30, 'n_estimators': 20} 0.9361255934404706
bag {'n_estimators': 15} 0.9367563011089072