In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)

df = pd.read_csv('data/train.csv')
# df['Date'] = pd.to_datetime(df['Date'])
# df.set_index('Date', inplace = True)
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [2]:
spray = pd.read_csv('data/spray.csv')
# spray['Date'] = pd.to_datetime(spray['Date'])
# spray.set_index('Date', inplace = True)
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

The function below calculates the distance between two points on Earth in kilometers, given their latitude and longitude, using Haversine formula.

In [3]:
from math import sin, cos, sqrt, asin, radians
def distance(lat1,lon1,lat2,lon2):
    # transforming longitude and latitude to radians
    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)
    
    # latitude and longitude difference
    dlat = lat2-lat1
    dlon = lon2-lon1
    
    # radius of the Earth in kn
    R = 6373 
    
    # complicated multiplier calculated separately
    a = sin(dlat/2)**2 + cos(lat1)*cos(lat2)*sin(dlon/2)**2
    
    # Haversine formula
    return 2*asin(sqrt(a))*R

In [4]:
# list dates when the spray was sprayed
spray_dates = spray['Date'].unique()
spray_dates

array(['2011-08-29', '2011-09-07', '2013-07-17', '2013-07-25',
       '2013-08-08', '2013-08-15', '2013-08-16', '2013-08-22',
       '2013-08-29', '2013-09-05'], dtype=object)

The loop below calculates the distance between the spray and each observation. If the distance is shorter than two specified values (0.5 and 1 km), it will assign a value of 1 to a column named with the date of the spray, that will be added to the dataframe.

# choosing to consider 0.5 and 1 km distance
for dist in [0.5,1]:
    
    # copying the train df
    spray_train = df
    
    # for each date in the spray dataset
    for date in spray_dates:
        
        # extract a subset of the dataframe just for the date we are considering in the loop
        current_df = spray[spray['Date'] == date]
        
        # generate a name for the column to add to spray_train
        column_name = date + '_spray'
        
        # for each row of the spray df, get longitude and latitude
        for index, row in spray_train.iterrows():
            lon1 = row['Longitude']
            lat1 = row['Latitude']
            
            # for each row of the train df get latitude and longitude
            for index2, row2 in current_df.iterrows():
                lon2 = row2['Longitude']
                lat2 = row2['Latitude']
                
                # calculate the distance between the points
                dstnc = distance(lat1,lon1,lat2,lon2)
                
                # if the distance is lower than the limit, put 1 in the column, otherwise 0
                if dstnc <= dist:
                    spray_train.loc[index,column_name] = 1
                else:
                    spray_train.loc[index,column_name] = 0
                    
    # generate name for csv file
    csv_name = 'train_spray_'+str(dist)+'km'
    
    # save to csv
    spray_train.to_csv(csv_name)

In [5]:
weather = pd.read_csv('data/weather.csv')
weather['Date'] = pd.to_datetime(weather['Date'])
weather.set_index('Date', inplace = True)

In [6]:
weather.dtypes

Station          int64
Tmax             int64
Tmin             int64
Tavg            object
Depart          object
DewPoint         int64
WetBulb         object
Heat            object
Cool            object
Sunrise         object
Sunset          object
CodeSum         object
Depth           object
Water1          object
SnowFall        object
PrecipTotal     object
StnPressure     object
SeaLevel        object
ResultSpeed    float64
ResultDir        int64
AvgSpeed        object
dtype: object

In [7]:
for col in list(weather.columns):
    if weather[col].dtype == 'object':
        weather[col] = pd.to_numeric(weather[col], errors='coerce')

weather.dtypes

Station          int64
Tmax             int64
Tmin             int64
Tavg           float64
Depart         float64
DewPoint         int64
WetBulb        float64
Heat           float64
Cool           float64
Sunrise        float64
Sunset         float64
CodeSum        float64
Depth          float64
Water1         float64
SnowFall       float64
PrecipTotal    float64
StnPressure    float64
SeaLevel       float64
ResultSpeed    float64
ResultDir        int64
AvgSpeed       float64
dtype: object

In [8]:
weather.isnull().sum()

Station           0
Tmax              0
Tmin              0
Tavg             11
Depart         1472
DewPoint          0
WetBulb           4
Heat             11
Cool             11
Sunrise        1472
Sunset         1472
CodeSum        2944
Depth          1472
Water1         2944
SnowFall       1484
PrecipTotal     320
StnPressure       4
SeaLevel          9
ResultSpeed       0
ResultDir         0
AvgSpeed          3
dtype: int64

In [9]:
weather.drop(columns = ['Water1','CodeSum'], inplace = True)
weather['Sunrise'] = weather['Sunrise'].fillna(method = 'pad', limit = 1)
weather['Sunset'] = weather['Sunset'].fillna(method = 'pad', limit = 1)
weather['Depart'] = weather['Depart'].fillna(method = 'pad', limit = 1)
weather['Heat'] = weather['Heat'].fillna(method = 'pad', limit = 1)
weather['Cool'] = weather['Cool'].fillna(method = 'pad', limit = 1)
weather['SnowFall'] = weather['SnowFall'].fillna(method = 'pad', limit = 1)
weather['Depth'] = weather['Depth'].fillna(method = 'pad', limit = 1)
weather['PrecipTotal'] = weather['PrecipTotal'].fillna(method = 'pad', limit = 1)
weather['AvgSpeed'] = weather['AvgSpeed'].fillna(method = 'pad', limit = 1)
weather['SeaLevel'] = weather['SeaLevel'].fillna(method = 'pad', limit = 1)
weather['StnPressure'] = weather['StnPressure'].fillna(method = 'pad', limit = 1)


for i in range(len(weather.index)):
    if np.isnan(weather.iloc[i,3]):
        weather.iloc[i,3] = (weather.iloc[i,1]+weather.iloc[i,2])/2
weather.head()

,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,Depth,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,,,,,,,,
2007-05-01,1,83,50,67.0,14.0,51,56.0,0.0,2.0,448.0,1849.0,0.0,0.0,0.0,29.10,29.82,1.7,27,9.2
2007-05-01,2,84,52,68.0,14.0,51,57.0,0.0,3.0,448.0,1849.0,0.0,0.0,0.0,29.18,29.82,2.7,25,9.6
2007-05-02,1,59,42,51.0,-3.0,42,47.0,14.0,0.0,447.0,1850.0,0.0,0.0,0.0,29.38,30.09,13.0,4,13.4
2007-05-02,2,60,43,52.0,-3.0,42,47.0,13.0,0.0,447.0,1850.0,0.0,0.0,0.0,29.44,30.08,13.3,2,13.4
2007-05-03,1,66,46,56.0,2.0,40,48.0,9.0,0.0,446.0,1851.0,0.0,0.0,0.0,29.39,30.12,11.7,7,11.9

In [10]:
weather['PrecipTotal'].fillna(0, inplace = True)
weather.isnull().sum()

Station         0
Tmax            0
Tmin            0
Tavg            0
Depart          0
DewPoint        0
WetBulb         4
Heat            0
Cool            0
Sunrise         0
Sunset          0
Depth           0
SnowFall       24
PrecipTotal     0
StnPressure     1
SeaLevel        0
ResultSpeed     0
ResultDir       0
AvgSpeed        0
dtype: int64

In [11]:
weather[['SnowFall','Tavg']][weather['SnowFall'].isnull()]

            SnowFall  Tavg
Date
2008-08-04       NaN  79.0
2008-08-04       NaN  79.0
2008-10-26       NaN  47.0
2008-10-26       NaN  46.0
2008-10-27       NaN  40.0
2008-10-27       NaN  41.0
2009-10-16       NaN  42.0
2009-10-16       NaN  43.0
2011-05-22       NaN  74.0
2011-05-22       NaN  77.0
2011-06-09       NaN  60.0
2011-06-09       NaN  61.0
2012-05-03       NaN  76.0
2012-05-03       NaN  78.0
2013-06-21       NaN  75.0
2013-06-21       NaN  78.0
2013-06-27       NaN  77.0
2013-06-27       NaN  79.0
2013-10-22       NaN  36.0
2013-10-22       NaN  36.0
2013-10-24       NaN  38.0
2013-10-24       NaN  39.0
2014-10-04       NaN  41.0
2014-10-04       NaN  43.0

In [12]:
# wherever SnowFall is missing, we see that temperatures are warm, so I can replace 
# the missing values with 0s
weather['SnowFall'].fillna(0,inplace = True)

In [13]:
weather[weather['WetBulb'].isnull()]

,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,Depth,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
Date,,,,,,,,,,,,,,,,,,,
2009-06-26,1,86,69,78.0,7.0,60,NaN,0.0,13.0,418.0,1931.0,0.0,0.0,0.00,29.15,29.85,6.4,4,8.2
2013-08-10,1,81,64,73.0,0.0,57,NaN,0.0,8.0,454.0,1900.0,0.0,0.0,0.00,29.34,30.08,5.3,5,6.5
2013-08-11,1,81,60,71.0,-2.0,61,NaN,0.0,6.0,455.0,1859.0,0.0,0.0,0.01,29.35,30.07,2.0,27,3.0
2013-08-12,2,85,69,77.0,2.0,63,NaN,0.0,12.0,456.0,1858.0,0.0,0.0,0.66,29.27,29.92,4.5,26,7.7

In [14]:
weather['WetBulb'].min()

32.0

In [15]:
weather['WetBulb'].max()

78.0

In [16]:
weather[weather['WetBulb'].isnull()].index.tolist()[0].date()

datetime.date(2009, 6, 26)

In [17]:
weather[weather["WetBulb"].isnull()].index

DatetimeIndex(['2009-06-26', '2013-08-10', '2013-08-11', '2013-08-12'], dtype='datetime64[ns]', name='Date', freq=None)

In [18]:
for index, row in weather.iterrows():
    if row['WetBulb'] == 'NaN':
        print(row['WetBulb'])

In [19]:
# creating pivot table that calculates the average values for each date
weather_mean = pd.pivot_table(weather, index = 'Date')

In [20]:
weather_mean

,AvgSpeed,Cool,Depart,Depth,DewPoint,Heat,PrecipTotal,ResultDir,ResultSpeed,SeaLevel,SnowFall,Station,StnPressure,Sunrise,Sunset,Tavg,Tmax,Tmin,WetBulb
Date,,,,,,,,,,,,,,,,,,,
2007-05-01,9.40,2.5,14.0,0.0,51.0,0.0,0.000,26.0,2.20,29.820,0.0,1.5,29.140,448.0,1849.0,67.50,83.5,51.0,56.5
2007-05-02,13.40,0.0,-3.0,0.0,42.0,13.5,0.000,3.0,13.15,30.085,0.0,1.5,29.410,447.0,1850.0,51.50,59.5,42.5,47.0
2007-05-03,12.55,0.0,2.0,0.0,40.0,8.0,0.000,6.5,12.30,30.120,0.0,1.5,29.425,446.0,1851.0,57.00,66.5,47.0,49.0
2007-05-04,10.60,0.0,4.0,0.0,41.5,7.0,0.000,7.5,10.25,30.045,0.0,1.5,29.335,444.0,1852.0,61.25,72.0,50.0,50.0
2007-05-05,11.75,0.0,5.0,0.0,38.5,5.0,0.000,7.0,11.45,30.095,0.0,1.5,29.430,443.0,1853.0,60.00,66.0,53.5,49.5
2007-05-06,14.75,0.0,4.0,0.0,30.0,5.5,0.000,10.5,14.10,30.285,0.0,1.5,29.595,442.0,1855.0,59.50,68.0,50.5,46.0
2007-05-07,10.20,1.0,10.0,0.0,40.0,0.0,0.000,17.5,8.55,30.120,0.0,1.5,29.410,441.0,1856.0,66.00,83.5,48.5,53.5
2007-05-08,5.60,4.0,12.0,0.0,57.5,0.0,0.000,9.5,2.60,30.025,0.0,1.5,29.325,439.0,1857.0,69.00,81.0,57.0,62.5
2007-05-09,6.05,4.5,13.0,0.0,59.5,0.0,0.075,8.0,3.90,29.935,0.0,1.5,29.245,438.0,1858.0,69.50,76.5,62.0,63.0
2007-05-10,4.00,5.5,14.0,0.0,52.0,0.0,0.000,13.0,1.35,29.915,0.0,1.5,29.230,437.0,1859.0,70.50,83.5,57.5,60.5
2007-05-11,12.85,0.0,4.0,0.0,43.0,4.0,0.000,19.5,11.50,30.035,0.0,1.5,29.360,436.0,1860.0,61.00,71.5,50.0,51.0
2007-05-12,12.95,0.0,-2.0,0.0,36.5,9.5,0.000,2.0,12.55,30.195,0.0,1.5,29.515,435.0,1901.0,55.50,64.5,46.5,46.0
2007-05-13,7.85,0.0,-2.0,0.0,32.5,8.5,0.000,12.5,6.50,30.240,0.0,1.5,29.520,434.0,1902.0,56.50,69.0,43.5,46.0
2007-05-14,15.95,7.5,15.0,0.0,46.0,0.0,0.000,21.0,15.50,29.975,0.0,1.5,29.270,433.0,1903.0,72.50,90.0,55.0,58.5
2007-05-15,11.55,4.0,11.0,0.0,56.0,0.0,0.490,26.0,8.10,29.835,0.0,1.5,29.160,432.0,1904.0,69.00,81.0,56.5,61.0
2007-05-16,12.00,0.0,-4.0,0.0,42.5,10.0,0.105,36.0,7.90,30.030,0.0,1.5,29.360,431.0,1905.0,55.00,65.0,44.5,47.5
2007-05-17,11.75,0.0,-6.0,0.0,32.0,12.0,0.000,2.0,11.10,30.270,0.0,1.5,29.585,430.0,1906.0,53.00,61.5,43.5,43.0
2007-05-18,6.50,0.0,-3.0,0.0,30.5,8.0,0.000,23.5,4.40,30.255,0.0,1.5,29.565,429.0,1907.0,57.00,70.5,42.5,46.5
2007-05-19,11.40,3.0,8.0,0.0,38.0,0.0,0.000,23.5,11.10,30.080,0.0,1.5,29.375,428.0,1908.0,68.00,80.0,56.0,53.0
2007-05-20,10.20,0.0,-5.0,0.0,40.5,8.5,0.090,3.5,9.50,30.110,0.0,1.5,29.410,427.0,1909.0,56.50,69.0,43.5,44.5
2007-05-21,8.00,0.0,1.0,0.0,50.0,2.5,0.000,10.5,6.30,30.055,0.0,1.5,29.360,426.0,1910.0,62.50,79.5,45.0,56.5
2007-05-22,10.40,7.5,10.0,0.0,45.0,0.0,0.000,17.0,10.05,30.055,0.0,1.5,29.375,425.0,1911.0,72.50,87.0,57.5,58.0
2007-05-23,11.50,11.5,14.0,0.0,48.5,0.0,0.000,18.5,11.15,30.100,0.0,1.5,29.430,425.0,1912.0,76.50,89.0,63.0,61.0
2007-05-24,16.25,11.5,14.0,0.0,53.5,0.0,0.020,20.5,14.35,30.105,0.0,1.5,29.440,424.0,1913.0,76.50,88.0,64.5,63.0
2007-05-25,8.50,0.0,1.0,0.0,45.0,2.5,0.045,5.0,4.70,30.235,0.0,1.5,29.540,423.0,1914.0,62.50,68.0,56.5,53.0
2007-05-26,7.50,0.0,-5.0,0.0,55.0,6.5,0.645,16.0,2.65,30.105,0.0,1.5,29.390,422.0,1915.0,58.50,67.5,49.5,56.5
2007-05-27,9.35,1.5,4.0,0.0,48.0,0.0,0.060,25.0,8.55,30.055,0.0,1.5,29.375,422.0,1916.0,66.50,75.0,58.0,56.5
2007-05-28,5.25,0.0,2.0,0.0,48.0,0.0,0.040,9.0,4.75,30.145,0.0,1.5,29.460,421.0,1916.0,65.00,77.5,52.0,56.5
2007-05-29,6.95,10.5,10.0,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,1.5,29.415,421.0,1917.0,75.50,88.0,62.5,65.5
2007-05-30,10.35,13.5,13.0,0.0,57.5,0.0,0.000,18.0,10.00,30.035,0.0,1.5,29.345,420.0,1918.0,78.50,88.0,68.0,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2014-10-02,7.90,4.5,10.0,0.0,62.0,0.0,0.520,17.0,7.20,29.780,0.0,1.5,29.065,549.0,1732.0,69.50,73.5,64.5,64.0
2014-10-03,16.00,0.0,-3.0,0.0,46.0,9.5,0.865,28.0,14.55,29.665,0.0,1.5,28.985,550.0,1730.0,55.50,66.5,44.5,50.5
2014-10-04,13.65,0.0,-16.0,0.0,34.5,23.0,0.055,25.5,13.55,29.730,0.0,1.5,29.035,552.0,1729.0,42.00,48.0,36.0,40.0
2014-10-05,9.85,0.0,-11.0,0.0,35.5,17.5,0.010,23.0,9.30,29.690,0.0,1.5,28.985,553.0,1727.0,47.50,55.5,39.5,43.0
2014-10-06,9.65,0.0,-4.0,0.0,39.0,11.0,0.010,24.0,8.70,29.615,0.0,1.5,28.920,554.0,1725.0,54.00,62.0,45.0,46.0
2014-10-07,11.60,0.0,1.0,0.0,44.0,7.0,0.005,24.5,10.05,29.695,0.0,1.5,29.030,555.0,1724.0,58.00,67.5,48.5,50.5
2014-10-08,11.25,0.0,-1.0,0.0,35.5,8.5,0.000,27.0,10.85,29.970,0.0,1.5,29.305,556.0,1722.0,56.50,66.0,46.0,47.0
2014-10-09,6.05,0.0,-2.0,0.0,35.0,10.0,0.000,19.0,3.40,30.090,0.0,1.5,29.410,557.0,1720.0,55.00,63.0,46.5,45.0
2014-10-10,6.70,0.0,-6.0,0.0,39.5,14.5,0.000,2.0,5.75,30.160,0.0,1.5,29.460,558.0,1719.0,50.50,58.5,41.5,45.0
2014-10-11,4.60,0.0,-6.0,0.0,35.0,16.0,0.000,8.0,3.15,30.200,0.0,1.5,29.500,559.0,1717.0,49.00,59.5,38.0,43.0
2014-10-12,9.50,0.0,-3.0,0.0,43.0,12.0,0.010,14.0,8.70,30.000,0.0,1.5,29.275,600.0,1715.0,53.00,63.5,41.5,48.5
2014-10-13,9.00,0.0,9.0,0.0,59.5,1.5,0.540,14.5,7.60,29.730,0.0,1.5,29.000,602.0,1714.0,63.50,69.0,57.5,61.0
2014-10-14,9.40,0.0,6.0,0.0,58.0,5.0,0.915,11.0,2.65,29.545,0.0,1.5,28.860,603.0,1712.0,60.00,66.0,53.0,59.0
2014-10-15,9.80,0.0,0.0,0.0,52.0,10.5,0.060,35.0,9.45,29.745,0.0,1.5,29.075,604.0,1711.0,54.50,56.5,51.5,52.5
2014-10-16,7.90,0.0,1.0,0.0,50.5,10.5,0.035,24.5,4.75,29.770,0.0,1.5,29.055,605.0,1709.0,54.50,57.0,51.5,52.0
2014-10-17,12.95,0.0,3.0,0.0,47.0,9.5,0.005,28.5,10.90,29.690,0.0,1.5,29.020,606.0,1707.0,55.50,62.5,48.5,51.0
2014-10-18,8.95,0.0,-8.0,0.0,39.0,20.5,0.015,34.0,7.90,30.080,0.0,1.5,29.415,607.0,1706.0,44.50,51.0,37.5,43.0
2014-10-19,8.60,0.0,-7.0,0.0,39.0,19.5,0.000,21.0,8.30,30.080,0.0,1.5,29.350,608.0,1704.0,45.50,55.5,34.5,43.5
2014-10-20,9.20,0.0,6.0,0.0,45.0,8.0,0.005,32.0,4.80,29.900,0.0,1.5,29.200,610.0,1703.0,57.00,65.5,48.0,50.0
2014-10-21,11.50,0.0,-1.0,0.0,40.0,14.5,0.000,18.5,10.90,30.155,0.0,1.5,29.485,611.0,1701.0,50.50,53.5,47.0,45.0
2014-10-22,4.95,0.0,-4.0,0.0,38.0,17.0,0.000,9.5,2.95,30.300,0.0,1.5,29.590,612.0,1660.0,48.00,56.0,39.0,43.5
2014-10-23,8.10,0.0,-1.0,0.0,40.5,15.0,0.000,19.0,7.70,30.155,0.0,1.5,29.425,613.0,1658.0,50.00,60.5,38.5,46.0
2014-10-24,5.80,0.0,11.0,0.0,47.0,4.5,0.000,22.0,4.65,30.000,0.0,1.5,29.280,614.0,1657.0,60.50,67.5,53.0,52.5
2014-10-25,10.65,0.0,13.0,0.0,40.5,2.5,0.000,28.5,10.05,29.925,0.0,1.5,29.240,616.0,1656.0,62.50,73.5,50.5,51.5
2014-10-26,5.60,0.0,5.0,0.0,32.5,11.0,0.000,8.0,1.25,29.950,0.0,1.5,29.245,617.0,1654.0,54.00,65.0,43.0,44.5
2014-10-27,13.25,1.0,16.0,0.0,51.5,0.5,0.010,19.0,12.35,29.665,0.0,1.5,28.960,618.0,1653.0,65.50,78.0,52.5,58.5
2014-10-28,15.10,0.0,10.0,0.0,39.0,8.0,0.025,26.0,14.40,29.850,0.0,1.5,29.190,619.0,1651.0,57.00,67.0,46.5,47.5
2014-10-29,9.45,0.0,-4.0,0.0,33.0,21.0,0.000,29.0,9.00,30.065,0.0,1.5,29.390,620.0,1650.0,44.00,49.0,38.0,41.0
2014-10-30,6.00,0.0,-4.0,0.0,34.5,21.5,0.000,23.5,5.50,30.095,0.0,1.5,29.375,622.0,1649.0,43.50,52.0,34.5,41.0
2014-10-31,22.75,0.0,-6.0,0.0,27.0,24.0,0.035,34.0,22.15,30.200,0.1,1.5,29.515,623.0,1647.0,41.00,48.0,33.5,34.5

In [21]:
df['Date'] = pd.to_datetime(df['Date'])
df = pd.concat([df, pd.get_dummies(df['Species'], drop_first=True)], axis=1)
df.drop(['Species','AddressNumberAndStreet','Address','Block','Street','Trap','AddressAccuracy'],
        axis = 1, inplace = True)

df.set_index('Date', inplace = True)

#,pd.get_dummies(df['Trap'], drop_first=True)

df.head()

,Latitude,Longitude,NumMosquitos,WnvPresent,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS
Date,,,,,,,,,,
2007-05-29,41.954690,-87.800991,1,0,0,1,0,0,0,0
2007-05-29,41.954690,-87.800991,1,0,0,0,1,0,0,0
2007-05-29,41.994991,-87.769279,1,0,0,0,1,0,0,0
2007-05-29,41.974089,-87.824812,1,0,0,1,0,0,0,0
2007-05-29,41.974089,-87.824812,4,0,0,0,1,0,0,0

In [22]:
df_temp = pd.merge(df, weather_mean, how = 'left', left_on = 'Date', right_index = True)
df_temp.drop(columns = ['Sunrise','Sunset','Station','Depart'], inplace = True)

In [23]:
df_temp

,Latitude,Longitude,NumMosquitos,WnvPresent,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,AvgSpeed,Cool,Depth,DewPoint,Heat,PrecipTotal,ResultDir,ResultSpeed,SeaLevel,SnowFall,StnPressure,Tavg,Tmax,Tmin,WetBulb
Date,,,,,,,,,,,,,,,,,,,,,,,,,
2007-05-29,41.954690,-87.800991,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.954690,-87.800991,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.994991,-87.769279,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.974089,-87.824812,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.974089,-87.824812,4,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.921600,-87.666455,2,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.891118,-87.654491,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.867108,-87.654224,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.867108,-87.654224,2,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.896282,-87.655232,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.919343,-87.694259,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.921965,-87.632085,2,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.921965,-87.632085,3,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.688324,-87.676709,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.688324,-87.676709,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.862292,-87.648860,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.720848,-87.666014,3,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.731922,-87.677512,5,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.731922,-87.677512,1,0,1,0,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.891126,-87.611560,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.891126,-87.611560,2,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.999129,-87.795585,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,42.017430,-87.687769,1,0,0,1,0,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.907645,-87.760886,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-05-29,41.732984,-87.649642,1,0,0,0,1,0,0,0,6.95,10.5,0.0,58.5,0.0,0.000,17.0,5.80,30.100,0.0,29.415,75.5,88.0,62.5,65.5
2007-06-05,41.954690,-87.800991,3,0,0,1,0,0,0,0,7.85,0.0,0.0,47.5,8.5,0.345,4.0,5.70,29.785,0.0,29.130,56.5,63.5,49.0,51.5
2007-06-05,41.954690,-87.800991,5,0,0,0,1,0,0,0,7.85,0.0,0.0,47.5,8.5,0.345,4.0,5.70,29.785,0.0,29.130,56.5,63.5,49.0,51.5
2007-06-05,41.954690,-87.800991,1,0,1,0,0,0,0,0,7.85,0.0,0.0,47.5,8.5,0.345,4.0,5.70,29.785,0.0,29.130,56.5,63.5,49.0,51.5
2007-06-05,41.974089,-87.824812,1,0,0,1,0,0,0,0,7.85,0.0,0.0,47.5,8.5,0.345,4.0,5.70,29.785,0.0,29.130,56.5,63.5,49.0,51.5
2007-06-05,41.974089,-87.824812,2,0,0,0,1,0,0,0,7.85,0.0,0.0,47.5,8.5,0.345,4.0,5.70,29.785,0.0,29.130,56.5,63.5,49.0,51.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-09-26,41.750498,-87.605294,2,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.750498,-87.605294,1,0,0,0,1,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.750498,-87.605294,1,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.984809,-87.728492,5,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.659112,-87.538693,5,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.659112,-87.538693,5,0,0,0,1,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.659112,-87.538693,4,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.992478,-87.862995,1,0,0,0,1,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,39,1,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,4,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,16,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,9,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,11,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.974689,-87.890615,1,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.925198,-87.746381,1,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.973845,-87.805059,11,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.973845,-87.805059,1,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.743402,-87.731435,3,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.728495,-87.600963,7,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.728495,-87.600963,1,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.947227,-87.671457,3,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.793818,-87.654234,8,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.904194,-87.756155,13,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.904194,-87.756155,5,0,1,0,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.951866,-87.725057,3,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.763733,-87.742302,6,1,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.987280,-87.666066,5,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.912563,-87.668055,1,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,42.009876,-87.807277,5,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0
2013-09-26,41.776428,-87.627096,1,0,0,1,0,0,0,0,4.40,0.0,0.0,52.0,1.0,0.000,8.5,3.95,30.040,0.0,29.370,64.0,75.0,52.5,58.0

In [24]:
df.shape

(10506, 10)

In [25]:
df_temp.shape

(10506, 25)

In [26]:
df_temp.to_csv('train_weather.csv')

In [27]:
df_temp.isnull().sum()

Latitude                  0
Longitude                 0
NumMosquitos              0
WnvPresent                0
CULEX PIPIENS             0
CULEX PIPIENS/RESTUANS    0
CULEX RESTUANS            0
CULEX SALINARIUS          0
CULEX TARSALIS            0
CULEX TERRITANS           0
AvgSpeed                  0
Cool                      0
Depth                     0
DewPoint                  0
Heat                      0
PrecipTotal               0
ResultDir                 0
ResultSpeed               0
SeaLevel                  0
SnowFall                  0
StnPressure               0
Tavg                      0
Tmax                      0
Tmin                      0
WetBulb                   0
dtype: int64

In [28]:
df_temp['Year'] = [df_temp.index[i].year for i in range(len(df_temp.index))]
df_temp['Month'] = [df_temp.index[i].month for i in range(len(df_temp.index))]
df_temp['Day'] = [df_temp.index[i].day for i in range(len(df_temp.index))]

In [29]:
features = [feat for feat in df_temp.columns if feat != "WnvPresent"]

In [30]:
X = df_temp[features]
y = df_temp['WnvPresent']

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

In [31]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.grid_search import GridSearchCV

k = np.arange(3,30,2)
parameters = {'n_neighbors': k,
              'p': [1,2] }
knn = KNeighborsClassifier()
clf = GridSearchCV(knn,parameters,cv=10)
clf.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]), 'p': [1, 2]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [32]:
clf.best_params_

{'n_neighbors': 21, 'p': 1}

In [33]:
clf.score(X_train, y_train)

0.9483579247977154

In [34]:
clf.score(X_test, y_test)

0.9448144624167459

In [35]:
from sklearn.metrics import roc_auc_score
y_pred = clf.predict(X_test)
auc_knn = roc_auc_score(y_test, y_pred)
auc_knn

0.5077658936072575

In [36]:
list(X.columns)

['Latitude',
 'Longitude',
 'NumMosquitos',
 'CULEX PIPIENS',
 'CULEX PIPIENS/RESTUANS',
 'CULEX RESTUANS',
 'CULEX SALINARIUS',
 'CULEX TARSALIS',
 'CULEX TERRITANS',
 'AvgSpeed',
 'Cool',
 'Depth',
 'DewPoint',
 'Heat',
 'PrecipTotal',
 'ResultDir',
 'ResultSpeed',
 'SeaLevel',
 'SnowFall',
 'StnPressure',
 'Tavg',
 'Tmax',
 'Tmin',
 'WetBulb',
 'Year',
 'Month',
 'Day']

In [37]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
auc_logreg = roc_auc_score(y_test, y_pred)
auc_logreg

0.5

In [38]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
auc_rfc = roc_auc_score(y_test, y_pred)
auc_rfc

0.5303090472660524

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV


params = {'n_estimators': [30,35,40,45],
          'max_depth': [50]}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)
rfcl.best_params_

{'max_depth': 50, 'n_estimators': 35}

In [40]:
from sklearn.metrics import roc_auc_score

y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.551735853718804

## Best model so far

In [ ]:
params = {'n_estimators': [30,35,40,45],
          'max_depth': [50]}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)

In [ ]:
rfcl.best_params_

In [ ]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl