In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.metrics import roc_auc_score
from sklearn.neighbors import KNeighborsClassifier



pd.set_option('display.max_columns', 50)

df = pd.read_csv('data/train.csv')
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [2]:
df.shape

(10506, 12)

In [3]:
# counting the number of repetitions per each date/trap.species combination
df.groupby(['Date', 'Trap', 'Species']).count()['Latitude'].to_dict()

{('2007-05-29', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T002', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T007', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T015', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T015', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T045', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T048', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T048', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T049', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T050', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T054', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T054', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T086', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T086', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T091', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T094', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T096', 'CULEX PIPIENS'): 1,
 ('2007-05-29', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T129', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T129', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T143', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T148', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-05-29', 'T153', 'CULEX RESTUANS'): 1,
 ('2007-05-29', 'T159', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T002', 'CULEX PIPIENS'): 1,
 ('2007-06-05', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T002', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T009', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T011', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T015', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T015', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T016', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T019', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T025', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T028', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T031', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T033', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T045', 'CULEX PIPIENS'): 1,
 ('2007-06-05', 'T045', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T045', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T048', 'CULEX PIPIENS'): 1,
 ('2007-06-05', 'T048', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T048', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T049', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T050', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T050', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T054', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T086', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T089', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T090', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T090', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T092', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T094', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T096', 'CULEX PIPIENS'): 1,
 ('2007-06-05', 'T096', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T135', 'CULEX PIPIENS'): 1,
 ('2007-06-05', 'T135', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T135', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T141', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T141', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T142', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T142', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T143', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T143', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T145', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T146', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T146', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T147', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T149', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T150', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T151', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T151', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T152', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T153', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T154', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T158', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T158', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T159', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T162', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T218', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-05', 'T218', 'CULEX RESTUANS'): 1,
 ('2007-06-05', 'T220', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T001', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T002', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T002', 'CULEX SALINARIUS'): 1,
 ('2007-06-26', 'T003', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T006', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T006', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T007', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T007', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T008', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T011', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T011', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T012', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T015', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T016', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T016', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T019', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T025', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T028', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T028', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T033', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T033', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T034', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T037', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T040', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T040', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T043', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T045', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T045', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T046', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T047', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T047', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T048', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T049', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T050', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T051', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T085', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T086', 'CULEX PIPIENS/RESTUANS'): 2,
 ('2007-06-26', 'T086', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T088', 'CULEX PIPIENS'): 1,
 ('2007-06-26', 'T090', 'CULEX PIPIENS'): 1,
 ('2007-06-26', 'T090', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T090', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T129', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T129', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T135', 'CULEX PIPIENS'): 1,
 ('2007-06-26', 'T135', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T135', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T141', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T141', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T142', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T143', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T143', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T145', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T146', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T147', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T148', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T148', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T150', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T151', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T151', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T158', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T158', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T161', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-26', 'T161', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T219', 'CULEX RESTUANS'): 1,
 ('2007-06-26', 'T220', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T006', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T012', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T013', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T014', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T015', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T015', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T016', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T018', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T028', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T028', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T030', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T030', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T031', 'CULEX PIPIENS'): 1,
 ('2007-06-29', 'T043', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T043', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T054', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T084', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T084', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T085', 'CULEX PIPIENS'): 1,
 ('2007-06-29', 'T085', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T086', 'CULEX PIPIENS'): 1,
 ('2007-06-29', 'T086', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T089', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T090', 'CULEX PIPIENS'): 1,
 ('2007-06-29', 'T090', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T090', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T091', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T135', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T141', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T142', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T143', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T144', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T145', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T146', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T148', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T148', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T150', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T151', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T151', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T153', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T158', 'CULEX RESTUANS'): 1,
 ('2007-06-29', 'T160', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-06-29', 'T218', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T002', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T003', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T005', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T006', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T007', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T007', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T008', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T008', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T009', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T011', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T012', 'CULEX SALINARIUS'): 1,
 ('2007-07-02', 'T013', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T013', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T014', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T014', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T015', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T016', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T017', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T018', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T019', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T028', 'CULEX PIPIENS'): 1,
 ('2007-07-02', 'T028', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T028', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T030', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T030', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T037', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T037', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T043', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T044', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T044', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T045', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T045', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T046', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T047', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T047', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T048', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T051', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T054', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T054', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T085', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T086', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T086', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T088', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T089', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T090', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T090', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T092', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T095', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T096', 'CULEX PIPIENS'): 1,
 ('2007-07-02', 'T096', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T129', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T129', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T135', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T135', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T135', 'CULEX SALINARIUS'): 1,
 ('2007-07-02', 'T142', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T142', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T145', 'CULEX SALINARIUS'): 1,
 ('2007-07-02', 'T146', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T148', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T149', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T149', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T151', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T151', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T152', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T154', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T158', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T158', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T161', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-02', 'T161', 'CULEX RESTUANS'): 1,
 ('2007-07-02', 'T218', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T001', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T002', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T002', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T002', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T003', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T004', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T006', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T006', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T007', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T008', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T008', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T008', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T009', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T009', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T011', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T011', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T011', 'CULEX RESTUANS'): 2,
 ('2007-07-11', 'T013', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T013', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T014', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T014', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T015', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T015', 'CULEX RESTUANS'): 2,
 ('2007-07-11', 'T016', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T016', 'CULEX PIPIENS/RESTUANS'): 2,
 ('2007-07-11', 'T016', 'CULEX RESTUANS'): 2,
 ('2007-07-11', 'T019', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T025', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T025', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T028', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T028', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T030', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T030', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T030', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T031', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T033', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T035', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T036', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T037', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T039', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T043', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T043', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T045', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T045', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T046', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T046', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T046', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T047', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T047', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T048', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T048', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T049', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T049', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T054', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T054', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T060', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T060', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T061', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T061', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T062', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T065', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T065', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T065', 'CULEX TERRITANS'): 1,
 ('2007-07-11', 'T066', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T067', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T069', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T069', 'CULEX RESTUANS'): 2,
 ('2007-07-11', 'T070', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T071', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T073', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T073', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T074', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T075', 'CULEX SALINARIUS'): 1,
 ('2007-07-11', 'T076', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T077', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T079', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T079', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T080', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T080', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T081', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T081', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T082', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T082', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T082', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T083', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T083', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T084', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T084', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T084', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T085', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T086', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T086', 'CULEX PIPIENS/RESTUANS'): 4,
 ('2007-07-11', 'T086', 'CULEX RESTUANS'): 2,
 ('2007-07-11', 'T086', 'CULEX SALINARIUS'): 1,
 ('2007-07-11', 'T086', 'CULEX TERRITANS'): 1,
 ('2007-07-11', 'T088', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T088', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T089', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T089', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T090', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T090', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T091', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T091', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T092', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T092', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T094', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T096', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T096', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T096', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T114', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T114', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T135', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T135', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T135', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T141', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T142', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T142', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T143', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T145', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T145', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T146', 'CULEX PIPIENS'): 1,
 ('2007-07-11', 'T146', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T146', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T148', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T148', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T148', 'CULEX SALINARIUS'): 1,
 ('2007-07-11', 'T150', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T151', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T151', 'CULEX RESTUANS'): 1,
 ('2007-07-11', 'T155', 'CULEX PIPIENS/RESTUANS'): 1,
 ('2007-07-11', 'T158', 'CULEX PIPIENS'): 1,

In [4]:
def DuplicatedRows(df): # Calculates number of duplicated rows by Date, Trap, Species
    grouped = df.groupby(['Date', 'Trap', 'Species'])
    num = grouped.count()['Latitude'].to_dict()
    df['Num_Duplicates'] = 1000
    for idx in df.index:
        d = df.loc[idx, 'Date']
        t = df.loc[idx, 'Trap']
        s = df.loc[idx, 'Species']
        df.loc[idx, 'Num_Duplicates'] = num[(d, t, s)]
    return df

In [5]:
DuplicatedRows(df)

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent,Num_Duplicates
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0,1
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,1
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0,1
5,2007-05-29,"1500 West Webster Avenue, Chicago, IL 60614, USA",CULEX RESTUANS,15,W WEBSTER AVE,T045,"1500 W WEBSTER AVE, Chicago, IL",41.921600,-87.666455,8,2,0,1
6,2007-05-29,"2500 West Grand Avenue, Chicago, IL 60654, USA",CULEX RESTUANS,25,W GRAND AVE,T046,"2500 W GRAND AVE, Chicago, IL",41.891118,-87.654491,8,1,0,1
7,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX PIPIENS/RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,1,0,1
8,2007-05-29,"1100 Roosevelt Road, Chicago, IL 60608, USA",CULEX RESTUANS,11,W ROOSEVELT,T048,"1100 W ROOSEVELT, Chicago, IL",41.867108,-87.654224,8,2,0,1
9,2007-05-29,"1100 West Chicago Avenue, Chicago, IL 60642, USA",CULEX RESTUANS,11,W CHICAGO,T049,"1100 W CHICAGO, Chicago, IL",41.896282,-87.655232,8,1,0,1
10,2007-05-29,"2100 North Stave Street, Chicago, IL 60647, USA",CULEX PIPIENS/RESTUANS,21,N STAVE ST,T050,"2100 N STAVE ST, Chicago, IL",41.919343,-87.694259,8,1,0,1
11,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX PIPIENS/RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,2,0,1
12,2007-05-29,"2200 North Cannon Drive, Chicago, IL 60614, USA",CULEX RESTUANS,22,N CANNON DR,T054,"2200 N CANNON DR, Chicago, IL",41.921965,-87.632085,8,3,0,1
13,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX PIPIENS/RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,1
14,2007-05-29,"2200 West 113th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 113TH ST,T086,"2200 W 113TH ST, Chicago, IL",41.688324,-87.676709,8,1,0,1
15,2007-05-29,"1100 South Peoria Street, Chicago, IL 60608, USA",CULEX RESTUANS,11,S PEORIA ST,T091,"1100 S PEORIA ST, Chicago, IL",41.862292,-87.648860,8,1,0,1
16,2007-05-29,"1700 West 95th Street, Chicago, IL 60643, USA",CULEX RESTUANS,17,W 95TH ST,T094,"1700 W 95TH ST, Chicago, IL",41.720848,-87.666014,9,3,0,1
17,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX RESTUANS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,5,0,1
18,2007-05-29,"2200 West 89th Street, Chicago, IL 60643, USA",CULEX PIPIENS,22,W 89TH ST,T096,"2200 W 89TH ST, Chicago, IL",41.731922,-87.677512,8,1,0,1
19,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX PIPIENS/RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,1,0,1
20,2007-05-29,"North Streeter Drive, Chicago, IL 60611, USA",CULEX RESTUANS,53,N STREETER DR,T129,"5300 N STREETER DR, Chicago, IL",41.891126,-87.611560,5,2,0,1
21,2007-05-29,"6500 North Oak Park Avenue, Chicago, IL 60631,...",CULEX PIPIENS/RESTUANS,65,N OAK PARK AVE,T143,"6500 N OAK PARK AVE, Chicago, IL",41.999129,-87.795585,8,1,0,1
22,2007-05-29,"7500 North Oakley Avenue, Chicago, IL 60645, USA",CULEX PIPIENS/RESTUANS,75,N OAKLEY AVE,T148,"7500 N OAKLEY AVE, Chicago, IL",42.017430,-87.687769,8,1,0,1
23,2007-05-29,"1500 North Long Avenue, Chicago, IL 60651, USA",CULEX RESTUANS,15,N LONG AVE,T153,"1500 N LONG AVE, Chicago, IL",41.907645,-87.760886,8,1,0,1
24,2007-05-29,"8900 South Carpenter Street, Chicago, IL 60620...",CULEX RESTUANS,89,S CARPENTER ST,T159,"8900 S CARPENTER ST, Chicago, IL",41.732984,-87.649642,8,1,0,1
25,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,3,0,1
26,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,5,0,1
27,2007-06-05,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0,1
28,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0,1
29,2007-06-05,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10476,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,2,0,1
10477,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX RESTUANS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0,1
10478,2013-09-26,"South Cottage Grove Avenue, Chicago, IL, USA",CULEX PIPIENS,10,S COTTAGE GROVE,T102,"1000 S COTTAGE GROVE, Chicago, IL",41.750498,-87.605294,5,1,0,1
10479,2013-09-26,"5800 North Pulaski Road, Chicago, IL 60646, USA",CULEX PIPIENS,58,N PULASKI RD,T027,"5800 N PULASKI RD, Chicago, IL",41.984809,-87.728492,8,5,0,1
10480,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS/RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0,1
10481,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX RESTUANS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,5,0,1
10482,2013-09-26,"4000 East 130th Street, Chicago, IL 60633, USA",CULEX PIPIENS,40,E 130TH ST,T221,"4000 E 130TH ST, Chicago, IL",41.659112,-87.538693,8,4,0,1
10483,2013-09-26,"9100 West Higgins Road, Rosemont, IL 60018, USA",CULEX RESTUANS,91,W HIGGINS RD,T009,"9100 W HIGGINS RD, Chicago, IL",41.992478,-87.862995,8,1,0,1
10484,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,39,1,2
10485,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS/RESTUANS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,4,0,2
10486,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,16,0,4
10487,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,9,0,4
10488,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,11,0,4
10489,2013-09-26,"ORD Terminal 5, O'Hare International Airport, ...",CULEX PIPIENS,10,W OHARE AIRPORT,T900,"1000 W OHARE AIRPORT, Chicago, IL",41.974689,-87.890615,9,1,0,4
10490,2013-09-26,"4800 West Montana Street, Chicago, IL 60639, USA",CULEX PIPIENS/RESTUANS,48,W MONTANA ST,T222,"4800 W MONTANA ST, Chicago, IL",41.925198,-87.746381,8,1,0,1
10491,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS/RESTUANS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,11,0,1
10492,2013-09-26,"5100 North Mont Clare Avenue, Chicago, IL 6065...",CULEX PIPIENS,51,N MONT CLARE AVE,T223,"5100 N MONT CLARE AVE, Chicago, IL",41.973845,-87.805059,9,1,0,1
10493,2013-09-26,"8200 South Kostner Avenue, Chicago, IL 60652, USA",CULEX PIPIENS/RESTUANS,82,S KOSTNER AVE,T225,"8200 S KOSTNER AVE, Chicago, IL",41.743402,-87.731435,8,3,0,1
10494,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,7,0,1
10495,2013-09-26,"East 91st Place, Chicago, IL, USA",CULEX PIPIENS,65,E 91ST PL,T227,"6500 E 91ST PL, Chicago, IL",41.728495,-87.600963,5,1,0,1
10496,2013-09-26,"1700 West Addison Street, Chicago, IL 60613, USA",CULEX PIPIENS/RESTUANS,17,W ADDISON ST,T224,"1700 W ADDISON ST, Chicago, IL",41.947227,-87.671457,9,3,0,1
10497,2013-09-26,"West Garfield Boulevard, Chicago, IL, USA",CULEX PIPIENS/RESTUANS,90,W GARFIELD BLVD,T226,"9000 W GARFIELD BLVD, Chicago, IL",41.793818,-87.654234,5,8,0,1
10498,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS/RESTUANS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,13,0,1
10499,2013-09-26,"1300 North Laramie Avenue, Chicago, IL 60651, USA",CULEX PIPIENS,13,N LARAMIE AVE,T230,"1300 N LARAMIE AVE, Chicago, IL",41.904194,-87.756155,9,5,0,1
10500,2013-09-26,"3900 North Springfield Avenue, Chicago, IL 606...",CULEX PIPIENS/RESTUANS,39,N SPRINGFIELD AVE,T228,"3900 N SPRINGFIELD AVE, Chicago, IL",41.951866,-87.725057,8,3,0,1
10501,2013-09-26,"5100 West 72nd Street, Chicago, IL 60638, USA",CULEX PIPIENS/RESTUANS,51,W 72ND ST,T035,"5100 W 72ND ST, Chicago, IL",41.763733,-87.742302,8,6,1,1
10502,2013-09-26,"5800 North Ridge Avenue, Chicago, IL 60660, USA",CULEX PIPIENS/RESTUANS,58,N RIDGE AVE,T231,"5800 N RIDGE AVE, Chicago, IL",41.987280,-87.666066,8,5,0,1
10503,2013-09-26,"1700 North Ashland Avenue, Chicago, IL 60622, USA",CULEX PIPIENS/RESTUANS,17,N ASHLAND AVE,T232,"1700 N ASHLAND AVE, Chicago, IL",41.912563,-87.668055,9,1,0,1
10504,2013-09-26,"7100 North Harlem Avenue, Chicago, IL 60631, USA",CULEX PIPIENS/RESTUANS,71,N HARLEM AVE,T233,"7100 N HARLEM AVE, Chicago, IL",42.009876,-87.807277,9,5,0,1
10505,2013-09-26,"4200 West 65th Street, Chicago, IL 60621, USA",CULEX PIPIENS/RESTUANS,42,W 65TH ST,T235,"4200 W 65TH ST, Chicago, IL",41.776428,-87.627096,8,1,0,1

In [8]:
df.groupby(by=['Date', 'Trap', 'Species'], as_index=False)['WnvPresent'].max()

            Date  Trap                 Species  WnvPresent
0     2007-05-29  T002  CULEX PIPIENS/RESTUANS           0
1     2007-05-29  T002          CULEX RESTUANS           0
2     2007-05-29  T007          CULEX RESTUANS           0
3     2007-05-29  T015  CULEX PIPIENS/RESTUANS           0
4     2007-05-29  T015          CULEX RESTUANS           0
5     2007-05-29  T045          CULEX RESTUANS           0
6     2007-05-29  T046          CULEX RESTUANS           0
7     2007-05-29  T048  CULEX PIPIENS/RESTUANS           0
8     2007-05-29  T048          CULEX RESTUANS           0
9     2007-05-29  T049          CULEX RESTUANS           0
10    2007-05-29  T050  CULEX PIPIENS/RESTUANS           0
11    2007-05-29  T054  CULEX PIPIENS/RESTUANS           0
12    2007-05-29  T054          CULEX RESTUANS           0
13    2007-05-29  T086  CULEX PIPIENS/RESTUANS           0
14    2007-05-29  T086          CULEX RESTUANS           0
15    2007-05-29  T091          CULEX RESTUANS           0
16    2007-05-29  T094          CULEX RESTUANS           0
17    2007-05-29  T096           CULEX PIPIENS           0
18    2007-05-29  T096          CULEX RESTUANS           0
19    2007-05-29  T129  CULEX PIPIENS/RESTUANS           0
20    2007-05-29  T129          CULEX RESTUANS           0
21    2007-05-29  T143  CULEX PIPIENS/RESTUANS           0
22    2007-05-29  T148  CULEX PIPIENS/RESTUANS           0
23    2007-05-29  T153          CULEX RESTUANS           0
24    2007-05-29  T159          CULEX RESTUANS           0
25    2007-06-05  T002           CULEX PIPIENS           0
26    2007-06-05  T002  CULEX PIPIENS/RESTUANS           0
27    2007-06-05  T002          CULEX RESTUANS           0
28    2007-06-05  T009          CULEX RESTUANS           0
29    2007-06-05  T011          CULEX RESTUANS           0
...          ...   ...                     ...         ...
8445  2013-09-26  T155  CULEX PIPIENS/RESTUANS           1
8446  2013-09-26  T158  CULEX PIPIENS/RESTUANS           0
8447  2013-09-26  T159           CULEX PIPIENS           0
8448  2013-09-26  T159  CULEX PIPIENS/RESTUANS           0
8449  2013-09-26  T209           CULEX PIPIENS           0
8450  2013-09-26  T209  CULEX PIPIENS/RESTUANS           0
8451  2013-09-26  T209          CULEX RESTUANS           0
8452  2013-09-26  T212           CULEX PIPIENS           0
8453  2013-09-26  T212  CULEX PIPIENS/RESTUANS           0
8454  2013-09-26  T220          CULEX RESTUANS           0
8455  2013-09-26  T221           CULEX PIPIENS           0
8456  2013-09-26  T221  CULEX PIPIENS/RESTUANS           0
8457  2013-09-26  T221          CULEX RESTUANS           0
8458  2013-09-26  T222  CULEX PIPIENS/RESTUANS           0
8459  2013-09-26  T223           CULEX PIPIENS           0
8460  2013-09-26  T223  CULEX PIPIENS/RESTUANS           0
8461  2013-09-26  T224  CULEX PIPIENS/RESTUANS           0
8462  2013-09-26  T225  CULEX PIPIENS/RESTUANS           0
8463  2013-09-26  T226  CULEX PIPIENS/RESTUANS           0
8464  2013-09-26  T227           CULEX PIPIENS           0
8465  2013-09-26  T227  CULEX PIPIENS/RESTUANS           0
8466  2013-09-26  T228  CULEX PIPIENS/RESTUANS           0
8467  2013-09-26  T230           CULEX PIPIENS           0
8468  2013-09-26  T230  CULEX PIPIENS/RESTUANS           0
8469  2013-09-26  T231  CULEX PIPIENS/RESTUANS           0
8470  2013-09-26  T232  CULEX PIPIENS/RESTUANS           0
8471  2013-09-26  T233  CULEX PIPIENS/RESTUANS           0
8472  2013-09-26  T235  CULEX PIPIENS/RESTUANS           0
8473  2013-09-26  T900           CULEX PIPIENS           0
8474  2013-09-26  T900  CULEX PIPIENS/RESTUANS           1

[8475 rows x 4 columns]

In [11]:
grouped = df.groupby(by=['Date', 'Trap', 'Species'], as_index=False)['WnvPresent'].max() 
df.drop('WnvPresent', axis=1, inplace=True)
grouped.columns = ['Date', 'Trap', 'Species', 'WnvPresent']
df = df.merge(grouped, on=['Date', 'Trap', 'Species'], how="left") 
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,Num_Duplicates,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,1,0

In [12]:
df['Year'] = pd.DatetimeIndex(df['Date']).year
df['Month'] = pd.DatetimeIndex(df['Date']).month
df['Day'] = pd.DatetimeIndex(df['Date']).day
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,Num_Duplicates,WnvPresent,Year,Month,Day
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,1,0,2007,5,29
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,1,0,2007,5,29
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,1,0,2007,5,29

In [13]:
dummies=pd.get_dummies(df['Species'])
df = pd.concat([df, dummies], axis=1)
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,Num_Duplicates,WnvPresent,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,1,0,0,0,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,0,1,0,0,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,1,0,2007,5,29,0,0,0,1,0,0,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,1,0,2007,5,29,0,0,1,0,0,0,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,1,0,2007,5,29,0,0,0,1,0,0,0

In [17]:
def distance(lat1,lon1,lat2,lon2):
    
    # transforming longitude and latitude to radians
    lat1 = np.radians(lat1)
    lon1 = np.radians(lon1)
    lat2 = np.radians(lat2)
    lon2 = np.radians(lon2)
    
    # latitude and longitude difference
    dlat = lat2-lat1
    dlon = lon2-lon1
    
    # radius of the Earth in km
    R = 6373 
    
    # multipliers 
    a = np.power(np.sin(dlat), 2) + np.multiply(np.cos(lat1), np.multiply(np.cos(lat2), np.power(np.sin(dlon/2), 2)))
    c = 2*np.arcsin(np.sqrt(a))
    return R * c

In [18]:
df['lat1'] = 41.995   # latitude of 1st station
df['lat2'] = 41.786   # latitude of 2nd station
df['lon1'] = -87.933  # longitude of 1st station
df['lon2'] = -87.752  # longitude of 2nd station

# calculate distance between each observation and the two stations
df['dist1'] = distance(df['Latitude'], df['Longitude'], df['lat1'], df['lon1']) 
df['dist2'] = distance(df['Latitude'], df['Longitude'], df['lat2'], df['lon2'])

# is first station the closest
st_1_closest = np.less_equal(df['dist1'], df['dist2'])

# vector of 1s (station 1 closest by default)
st = np.ones(df.shape[0])

# change values of the vector to 2 where station 2 is closer
st[st_1_closest == False] = 2

# adding column with number of the closest station
df['Station'] = st

# dropping columns I don't need anymore
df.drop(columns = ['dist1', 'dist2', 'lat1', 'lat2', 'lon1', 'lon2' ], inplace=True)

In [19]:
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,Num_Duplicates,WnvPresent,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,Station
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,1,0,0,0,0,1.0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,0,1,0,0,0,1.0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,1,0,2007,5,29,0,0,0,1,0,0,0,1.0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,1,0,2007,5,29,0,0,1,0,0,0,0,1.0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,1,0,2007,5,29,0,0,0,1,0,0,0,1.0

In [20]:
weather = pd.read_csv('data/weather.csv')

# replace "Trace" with 0.001, replace M and missing with NaN
weather.replace(['  T','M','-'], [0.001, np.nan, np.nan], inplace=True) 

# replace missing WetBulb of 1st station with the value of 2nd station
weather['WetBulb'].fillna(method='bfill', inplace=True)

# fill the rest of the null values
weather.fillna(method='pad', inplace=True)
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,0448,1849,,0,NaN,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,14,51,57,0,3,0448,1849,,0,NaN,0.0,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,0447,1850,BR,0,NaN,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,-3,42,47,13,0,0447,1850,BR HZ,0,NaN,0.0,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,0446,1851,,0,NaN,0.0,0.00,29.39,30.12,11.7,7,11.9

In [21]:
df = df.merge(weather, on=['Date', 'Station'], how="left",  left_index=True)
df.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,Num_Duplicates,WnvPresent,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,Station,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,Sunrise,Sunset,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
56,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,1,0,0,0,0,1.0,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,NaN,0.0,0.00,29.39,30.11,5.8,18,6.5
56,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,1,0,2007,5,29,0,0,0,1,0,0,0,1.0,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,NaN,0.0,0.00,29.39,30.11,5.8,18,6.5
56,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,1,0,2007,5,29,0,0,0,1,0,0,0,1.0,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,NaN,0.0,0.00,29.39,30.11,5.8,18,6.5
56,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,1,0,2007,5,29,0,0,1,0,0,0,0,1.0,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,NaN,0.0,0.00,29.39,30.11,5.8,18,6.5
56,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,1,0,2007,5,29,0,0,0,1,0,0,0,1.0,88,60,74,10,58,65,0,9,0421,1917,BR HZ,0,NaN,0.0,0.00,29.39,30.11,5.8,18,6.5

In [22]:
df.drop(['Species','AddressNumberAndStreet','Address','Block','Street','Trap','AddressAccuracy','Station',
        'Latitude','Longitude','Heat', 'CodeSum', 'Depth', 'Water1', 'SnowFall', 'StnPressure',
        'SeaLevel', 'AvgSpeed'], axis = 1, inplace = True)
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date', inplace = True)
df.head()

,NumMosquitos,Num_Duplicates,WnvPresent,Year,Month,Day,CULEX ERRATICUS,CULEX PIPIENS,CULEX PIPIENS/RESTUANS,CULEX RESTUANS,CULEX SALINARIUS,CULEX TARSALIS,CULEX TERRITANS,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Cool,Sunrise,Sunset,PrecipTotal,ResultSpeed,ResultDir
Date,,,,,,,,,,,,,,,,,,,,,,,,,
2007-05-29,1,1,0,2007,5,29,0,0,1,0,0,0,0,88,60,74,10,58,65,9,0421,1917,0.00,5.8,18
2007-05-29,1,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,0421,1917,0.00,5.8,18
2007-05-29,1,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,0421,1917,0.00,5.8,18
2007-05-29,1,1,0,2007,5,29,0,0,1,0,0,0,0,88,60,74,10,58,65,9,0421,1917,0.00,5.8,18
2007-05-29,4,1,0,2007,5,29,0,0,0,1,0,0,0,88,60,74,10,58,65,9,0421,1917,0.00,5.8,18

In [23]:
# df.to_csv('train_weather_per_station.csv')

In [24]:
df.dtypes

NumMosquitos                int64
Num_Duplicates              int64
WnvPresent                  int64
Year                        int64
Month                       int64
Day                         int64
CULEX ERRATICUS             uint8
CULEX PIPIENS               uint8
CULEX PIPIENS/RESTUANS      uint8
CULEX RESTUANS              uint8
CULEX SALINARIUS            uint8
CULEX TARSALIS              uint8
CULEX TERRITANS             uint8
Tmax                        int64
Tmin                        int64
Tavg                       object
Depart                     object
DewPoint                    int64
WetBulb                    object
Cool                       object
Sunrise                    object
Sunset                     object
PrecipTotal                object
ResultSpeed               float64
ResultDir                   int64
dtype: object

In [25]:
features = [feat for feat in df.columns if feat != "WnvPresent"]

In [26]:
X = df[features]
y = df['WnvPresent']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 17)

In [27]:
k = np.arange(3,30,2)
parameters = {'n_neighbors': k,
              'p': [1,2] }
knn = KNeighborsClassifier()
clf = GridSearchCV(knn,parameters,cv=10)
clf.fit(X_train, y_train)

/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

GridSearchCV(cv=10, error_score='raise',
       estimator=KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([ 3,  5,  7,  9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]), 'p': [1, 2]},
       pre_dispatch='2*n_jobs', refit=True, scoring=None, verbose=0)

In [28]:
clf.best_params_

{'n_neighbors': 7, 'p': 1}

In [29]:
clf.score(X_train, y_train)

0.9460970966206569

In [30]:
clf.score(X_test, y_test)

0.9257849666983825

In [31]:
y_pred = clf.predict(X_test)
auc_knn = roc_auc_score(y_test, y_pred)
auc_knn

0.7408671847603534

In [32]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_pred = logreg.predict(X_test)
auc_logreg = roc_auc_score(y_test, y_pred)
auc_logreg

0.6945238176038733

In [33]:
rfc = RandomForestClassifier()
rfc.fit(X_train, y_train)
y_pred = rfc.predict(X_test)
auc_rfc = roc_auc_score(y_test, y_pred)
auc_rfc

0.8160122623047251

In [34]:
params = {'n_estimators': [30,35,40,45],
          'max_depth': [50]}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)
rfcl.best_params_

{'max_depth': 50, 'n_estimators': 40}

In [35]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.82364679132589

## ----

In [42]:
params = {'n_estimators': np.arange(20,40,1),
          'max_depth': np.arange(40,50,1)}
rfc = RandomForestClassifier() 
rfcl = GridSearchCV(rfc,params,cv=10)
rfcl.fit(X_train, y_train)
rfcl.best_params_

{'max_depth': 48, 'n_estimators': 32}

In [43]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.8154760692752344

In [41]:
y_pred = rfcl.predict(X_test)
auc_rfcl = roc_auc_score(y_test, y_pred)
auc_rfcl

0.8167814843723488