#### Emma has already done a lot of EDA in her notebook, but I wanted to try to look at mosquito count/WNV/precip in a little bit of a different way.

Things to check out:
- How precipitation affects mosquito counts
- How total number of mosquitos affects presence of WNV

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from datetime import datetime
from datetime import timedelta

%matplotlib inline

In [2]:
train_csv = "./Emma/.csv"
train = pd.read_csv(train_csv)

test_csv = "./Emma/test_weather_per_station.csv"

In [3]:
# train.Date = pd.to_datetime(train.Date)
# train.set_index("Date", inplace=True)

In [4]:
pd.set_option("display.max_columns",50)
train.head()

,Date,AddressNumberAndStreet,Latitude,Longitude,WnvPresent,Year,Month,Day,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Cool,Sunrise,Sunset,PrecipTotal,ResultSpeed,ResultDir,NumMosquitos,Species_CULEX ERRATICUS,Species_CULEX PIPIENS,Species_CULEX PIPIENS/RESTUANS,Species_CULEX RESTUANS,Species_CULEX SALINARIUS,Species_CULEX TARSALIS,Species_CULEX TERRITANS
0,2007-05-29,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,0,2007,5,29,88,60,74,10,58,65,9,421,1917,0.0,5.8,18,1,0,0,1,0,0,0,0
1,2007-05-29,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,0,2007,5,29,88,60,74,10,58,65,9,421,1917,0.0,5.8,18,1,0,0,0,1,0,0,0
2,2007-05-29,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,0,2007,5,29,88,60,74,10,58,65,9,421,1917,0.0,5.8,18,1,0,0,0,1,0,0,0
3,2007-05-29,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,0,2007,5,29,88,60,74,10,58,65,9,421,1917,0.0,5.8,18,1,0,0,1,0,0,0,0
4,2007-05-29,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,0,2007,5,29,88,60,74,10,58,65,9,421,1917,0.0,5.8,18,4,0,0,0,1,0,0,0

In [5]:
# emma's EDA shows that only pipiens, pipiens/restuans, and restuans carry WNV

In [6]:
print("Avg number of mosquitos: 15")
print("Std Dev of mosquitos: 75")
print("")
print("% of WNV in traps with more than 90 mosquitos:", train[(train["NumMosquitos"] > 90)].sum()["WnvPresent"]/train[(train["NumMosquitos"] > 90)].count()["WnvPresent"])
print("% of WNV in traps with less than 90 mosquitos:", train[(train["NumMosquitos"] < 90)].sum()["WnvPresent"]/train[(train["NumMosquitos"] < 90)].count()["WnvPresent"])

Avg number of mosquitos: 15
Std Dev of mosquitos: 75

% of WNV in traps with more than 90 mosquitos: 0.3235294117647059
% of WNV in traps with less than 90 mosquitos: 0.04716981132075472

In [7]:
# it might be intuitive that more mosquitos = higher chance of WNV, but it would be significant if you could show
# that some areas have higher numbers of mosquitos on average or if weather affects mosquito number

In [8]:
pipmask = train["Species_CULEX PIPIENS"] == 1
resmask = train["Species_CULEX RESTUANS"] == 1
bothmask = train["Species_CULEX PIPIENS/RESTUANS"] == 1

In [9]:
# i am an idiot sandwich

Messing with the spray data

In [10]:
spray_csv = "./data/spray.csv"
spray = pd.read_csv(spray_csv)

In [11]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [12]:
spray.drop("Time", axis=1, inplace=True)

In [13]:
# spray["Date"] = pd.to_datetime(spray.Date)
# spray.set_index("Date", inplace=True)

In [15]:
spray.head()

         Date   Latitude  Longitude  SpatialOverlap
0  2011-08-29  42.391623 -88.089163               1
1  2011-08-29  42.391348 -88.089163               1
2  2011-08-29  42.391022 -88.089157               1
3  2011-08-29  42.390637 -88.089158               1
4  2011-08-29  42.390410 -88.088858               1

In [32]:
spray_dates = spray.Date.unique().tolist()

In [33]:
spray_dates

['2011-08-29',
 '2011-09-07',
 '2013-07-17',
 '2013-07-25',
 '2013-08-08',
 '2013-08-15',
 '2013-08-16',
 '2013-08-22',
 '2013-08-29',
 '2013-09-05']

In [17]:
# new = pd.merge(train, spray, how="outer", on=["Latitude", "Longitude"] )

In [18]:
# new.fillna(0, inplace=True)

In [19]:
# train.shape

(8475, 28)

In [20]:
# train.count()["Month"==0]

8475

In [21]:
# new = new[new.Month!=0]

In [22]:
# new.shape

(8475, 30)

In [24]:
# new[new.SpatialOverlap==1]
# aaaaaaaaaaaaAAAAAAHHHHHHHH

Empty DataFrame
Columns: [Date_x, AddressNumberAndStreet, Latitude, Longitude, WnvPresent, Year, Month, Day, Tmax, Tmin, Tavg, Depart, DewPoint, WetBulb, Cool, Sunrise, Sunset, PrecipTotal, ResultSpeed, ResultDir, NumMosquitos, Species_CULEX ERRATICUS, Species_CULEX PIPIENS, Species_CULEX PIPIENS/RESTUANS, Species_CULEX RESTUANS, Species_CULEX SALINARIUS, Species_CULEX TARSALIS, Species_CULEX TERRITANS, Date_y, SpatialOverlap]
Index: []

In [ ]:
# none of that works because there is zero overlap between coordinates and date

In [ ]:
# new plan: make assumptions about efficacy of pesticides over time and space
# dates within 1 month of a spray are valid
# coordinates within X distance are valid <-- figure this one out

In [48]:
spray_dates = spray.Date.unique().tolist()

str

In [36]:
# making new column for date overlap
train["TemporalOverlap"]=0

In [41]:
from datetime import timedelta

In [49]:
# offset = timedelta(days=30)
# for i in range(0,8475):
#     if train["Date"][i] in spray_dates+offset or spray_dates-offset:
#         train["TemporalOverlap"][i] = 1

# i'm just going to hardcode it...

In [50]:
spray_dates

['2011-08-29',
 '2011-09-07',
 '2013-07-17',
 '2013-07-25',
 '2013-08-08',
 '2013-08-15',
 '2013-08-16',
 '2013-08-22',
 '2013-08-29',
 '2013-09-05']

In [52]:
train.Date.unique()

array(['2007-05-29', '2007-06-05', '2007-06-26', '2007-06-29',
       '2007-07-02', '2007-07-11', '2007-07-18', '2007-07-19',
       '2007-07-25', '2007-07-27', '2007-08-01', '2007-08-02',
       '2007-08-03', '2007-08-07', '2007-08-08', '2007-08-09',
       '2007-08-15', '2007-08-16', '2007-08-17', '2007-08-21',
       '2007-08-22', '2007-08-24', '2007-08-28', '2007-09-04',
       '2007-09-05', '2007-09-06', '2007-09-12', '2007-09-18',
       '2007-09-19', '2007-09-24', '2007-09-25', '2007-10-04',
       '2007-10-09', '2009-05-28', '2009-06-02', '2009-06-03',
       '2009-06-05', '2009-06-12', '2009-06-15', '2009-06-19',
       '2009-06-22', '2009-06-26', '2009-06-29', '2009-07-06',
       '2009-07-10', '2009-07-13', '2009-07-17', '2009-07-24',
       '2009-07-27', '2009-07-31', '2009-08-07', '2009-08-13',
       '2009-08-25', '2009-08-27', '2009-09-03', '2009-09-14',
       '2009-09-17', '2009-09-25', '2009-10-01', '2011-06-10',
       '2011-06-17', '2011-06-24', '2011-06-30', '2011-07-11',
       '2011-07-15', '2011-07-25', '2011-07-29', '2011-08-05',
       '2011-08-12', '2011-08-19', '2011-08-26', '2011-09-01',
       '2011-09-02', '2011-09-12', '2011-09-16', '2011-09-23',
       '2011-09-30', '2013-06-07', '2013-06-14', '2013-06-21',
       '2013-06-27', '2013-06-28', '2013-07-08', '2013-07-12',
       '2013-07-19', '2013-07-25', '2013-08-01', '2013-08-08',
       '2013-08-15', '2013-08-22', '2013-08-29', '2013-09-06',
       '2013-09-12', '2013-09-19', '2013-09-26'], dtype=object)

In [58]:
hardcode_dates=["2011-09-01", "2011-09-02", "2011-09-12", "2011-09-16", "2011-09-23", "2011-09-30", "2013-07-19",
               "2013-07-25", "2013-08-01", "2013-08-08", "2013-08-15", "2013-08-22", "2013-08-29", "2013-09-06",
               "2013-09-12", "2013-09-19", "2013-09-26"]
# dates are determined by being within 1 month of spray 
for i in range(0,8475):
    if train.Date[i] in hardcode_dates:
        train.TemporalOverlap[i]=1
        
# mac's code is way better than mine for this

/Users/brianconnor/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys